@import "../../css-config/mixins.scss";
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    @include md {
        margin: 75px 0;
    }
    .sec-heading {
        margin-bottom: 20px;
        font-family: 18px;
        font-weight: 500;
        text-transform: uppercase;
        @include md {
            margin-bottom: 35px;
            font-size: 24px;
        }
        &:after {
            content:"";
            display: block;
            margin-top: 5px;
            width: 50px;
            height: 3px;
            background-color: #8e2de2;
            @include md {
                margin-top: 10px;
            }
        }
    }
    .products {
        display: flex;
        flex-flow: row wrap;
        gap: 10;
        @include md {
            gap: 20px;
        }
    }
}
